.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.logo{
    margin-top: 2px;
}

nav .brand-logo{
    font-size: 1.7rem;
    margin-left: 5px;
}

.flashes h4{
    line-height: 2;
}

.btn-small{
    margin: 5px;
}

.col strong{
    margin: 5px;
    line-height: 30px;
    font-size: 20px;
}


/*-----------delete button modal-----------*/

* {box-sizing: border-box;}

/* Set a style for all buttons */

button:hover {
  opacity:1;
}


/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 2px;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 70%; /* Full width */
  height: 30%; /* Full height */
  background-color: #474e5d;
  padding-top: 30px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2px auto 2px auto; /* 5px from the top, 5px from the bottom and centered */
  border: 1px solid #888;
  width: 85%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 50px) {
  .cancelbtn, .deletebtn {
     width: 40%;
  }
}

footer {
  background-color: rgb(100, 100, 131);
  color: white;
  min-height: 120px;   
}

.general-sub{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.social-links{
  text-align: center;
}

.social-links li{
  margin: 10px;
  display: inline;
}

.social-links li a i {
  padding: 25px;
  border-radius: 50%;
  font-size: 22px;
  text-align: center;
  color: yellowgreen;
  background: white;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links a i:hover {
  background: grey;
}